<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>

</head>
<body>
<div class="clinic">
  <h1>Dental Clinic</h1>
</div>
<div>
<!--<div class="container table_style">-->
  <input type="checkbox" name="collapse" id="handle3" >
  <h2 class="handle">
    <label id="Facts" for="handle3">
      Интересные <br> факты
    </label>
  </h2>
  <div class="content3">
    <div class="container table_style">
    <a href="doctors">doctors</a>
    </div>
  </div>
</div>
<!--</div>-->

</body>
</html>